body{
    background-color: #FCDBE1;
    color:darkslategray ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
a:link{
    color:#BD4400 ;
}
a:visited{
    color: #6A2600 ;
}
a:hover{
    color :#F9772D ;
}
.imgright{
    float: right;
    padding-left: 10 px;
}

#container{
    width: 900 px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: white; 
}
header{
    display: flexbox;
    width: 900 px;
    height: 100 px;
    background-color: #F9772D;
}
header img{
    margin: 3px;
}
.navigation{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.navigation li {
    list-style: none;
    margin: 4px;
    padding: 3px;
    border: 1px solid pink;
    background-color: white;
    color: pink;
    text-decoration: none; 
}
.navigation li a{
    text-decoration: none;
    
}
.navigation li a:hover{
    border: 1px solid white;
    background-color: pink;
    color: white;
    text-decoration: none;
}
section {
    display: flexbox;   
    background-image: url('Images/backimage.png');
    background-repeat: repeat-y;
}
article{
    width: 800px;
    text-align: left;
    margin: 5pxS;
}
#thumbs, #image {
    width: 700px;
    border: solid 1px 000;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #000;
    background: #eee;
    padding: 5px;
    height: 200px;
}
#thumbs {
    margin-top: 10px;
}
#thumbs img {
    border: solid 1px #000;
    margin: 5px;
}
#image{
    height:400px;
}
.instructions{
    font-style:italic;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.bannerflx{
    display: flex;
    justify-content: center;
}
.logoflx{
    display:flex;
    justify-content:center;
}